lastfm:
    service:
        username: usernmae
        apiKey: apikey
        startYear: 2006
    db:
        dbName: lastfm
        user: lastfm
        password: password
plot:
    saveEnabled: True
    sendViaTelegram: True
telegram:
    token: token
    chatId: chatid
